/*@font-face {
    font-family: Rubik;
    src: url(/assets/fonts/Rubik/static/Rubik-Regular.ttf);
    src: url(/assets/fonts/Rubik/static/Rubik-Medium.ttf);
    src: url(/assets/fonts/Rubik/static/Rubik-Bold.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(/assets/fonts/Poppins/Poppins-Bold.ttf);
    src: url(/assets/fonts/Poppins/Poppins-SemiBold.ttf);
    src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
    src: url(/assets/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: Lato;
    src: url(/assets/fonts/Lato/Lato-Heavy.ttf);
    src: url(/assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: Mulish;
    src: url(/assets/fonts/Mulish/static/Mulish-Light.ttf);
}*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Mulish:wght@300&family=Poppins:wght@400;500;600;700&family=Rubik:wght@400;500;700&display=swap');

body, div, p, ul, li, a, button, h1, h3, form, input, img {
    margin: 0;
    padding: 0;
}
body {
    background: #E5E5E5;
}
#top {
    padding-left: 400px;
    margin-top: 40px;
}
.list {
    list-style-type: none;
    display: inline;
}
.link {
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    color: #4F5665;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
}
#top li:first-child a {
    padding-right: 0;
}
#first {
    position: absolute;
    width: 13px;
    height: 14px;
    left: 106px;
    top: 49px;
}
#pennovate {
    position: absolute;
    width: 112px;
    height: 30px;
    left: 120px;
    top: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #001F7E;
    margin: 0;
}
#button {
    position: absolute;
    width: 218px;
    height: 45px;
    left: 1000px;
    top: 40px;
    border: 1px solid #F53855;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #F53855;
    background-color: white;
}
#sar {
    position: absolute;
    width: 989px;
    height: 105px;
    left: 224px;
    top: 172px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}
#tag {
    position: absolute;
    width: 877px;
    height: 38px;
    left: 279px;
    top: 308px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}
#map {
    position: absolute;
    height: 533px;
    width: 1050px;
    left: 179px;
    top: 398px;
}
#mid {
    position: absolute;
    height: 610px;
    width: 412px;
    left: 510px;
    top: 558px;
    background: #FFFFFF;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(60px);
    border-radius: 51px;
}
#join {
    margin-left: 60px;
    margin-top: 50px;
    width: 297px;
    height: 86px;
    left: 500px;
    top: 602px;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #494949;
}
#day {
    margin-left: 120px;
    /*margin-top: 10px;*/
    /*width: 195px;*/
    height: 24px;
    left: 614px;
    top: 716px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #575757;
}
#time {
    margin-left: 100px;
    width: 287px;
    height: 63px;
    left: 603px;
    top: 743px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #001F7E;
}
#hour {
    margin-left: 100px;
    width: 49px;
    height: 25px;
    left: 607px;
    top: 800px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    display: block;
    align-items: center;
    color: #9C9C9C;
    float: left;
}
#minute {
    margin-left: 30px;
    width: 66px;
    height: 25px;
    left: 683px;
    top: 800px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    color: #9C9C9C;
    float: left;
}
#second {
    margin-left: 252px;
    height: 25px;
    left: 760px;
    top: 800px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    color: #9C9C9C;
}
#name {
    margin-left: 50px;
    width: 37px;
    height: 17px;
    left: 571px;
    top: 869px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #ED1C2E;
}
#in {
    position: absolute;
    height: 50px;
    width: 320px;
    left: 35px;
    background: #FFFFFF;
    border: 1px solid #001F7E;
    border-radius: 15px;
}
#mail {
    margin-left: 50px;
    margin-top: 50px;
    width: 32px;
    height: 17px;
    left: 572px;
    top: 955px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #F53838;
}
#add {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #001F7E;
    border-radius: 15px;
    height: 50px;
    width: 320px;
    left: 35px;
    top: 370px;
}
.button {
    margin-left: 70px;
    margin-top: 50px;
    width: 270px;
    height: 55px;
    left: 575px;
    top: 1067px;
    background: #ED1C2E;
    box-shadow: 0px 4px 30px #F4606D;
    border-radius: 38px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    align-items: center;
    color: #FFFFFF;
    border-color: transparent;
}
#rsa {
    position: absolute;
    width: 963px;
    height: 50px;
    left: 249px;
    top: 1200px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}
#png {
    position: absolute;
    width: 1188px;
    height: 134px;
    left: 126px;
    top: 1300px;
}
#bg {
    background-image: url(/assets/images/bgElement.png);
}
#had {
    position: absolute;
    height: 94px;
    width: 982px;
    left: 251px;
    top: 1590px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    mix-blend-mode: normal;
}
#rul {
    position: absolute;
    width: 211px;
    height: 2px;
    left: 626px;
    top: 1733px;
    background: #052484;
    border-radius: 5px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
#get {
    position: absolute;
    height: 60px;
    width: 952px;
    left: 277px;
    top: 1780px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
    mix-blend-mode: normal;
}
#one {
    position: absolute;
    height: 290px;
    width: 545px;
    left: 142px;
    top: 1990px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}
.bir {
    margin-top: 69px;
    margin-left: 44px;
    height: 34px;
    width: 38px;
    left: 186px;
    top: 2059px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 34px;
    color: #001F7E;
    mix-blend-mode: normal;
    float: left;
}
#text1 {
    margin-left: 100px;
    margin-top: 43px;
    width: 246px;
    left: 242px;
    top: 2033px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #001F7E;
    mix-blend-mode: normal;
}
#text2 {
    margin-left: 52px;
    margin-top: 40px;
    height: 90px;
    width: 279px;
    left: 194px;
    top: 2142px;
    font-family: Mulish;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #7D7987;
    mix-blend-mode: normal;
    float: left;
}
.target {
    width: 163px;
    height: 158px;
    left: 485px;
    top: 2043px;
}
#two {
    position: absolute;
    height: 290px;
    width: 545px;
    left: 723px;
    top: 1993px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}
.ikki {
    margin-top: 71px;
    margin-left: 22px;
    height: 34px;
    width: 58px;
    left: 745px;
    top: 2064px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 34px;
    color: #001F7E;
    mix-blend-mode: normal;
    float: left;
}
.matn1 {
    margin-top: 46px;
    margin-left: 90px;
    /*height: 144px;*/
    width: 246px;
    left: 821px;
    top: 2039px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #001F7E;
    mix-blend-mode: normal;
}
.matn2 {
    margin-top: 40px;
    margin-left: 30px;
    height: 90px;
    width: 279px;
    left: 753px;
    top: 2147px;
    font-family: Mulish;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #7D7987;
    mix-blend-mode: normal;
    float: left;
}
.frame {
    width: 174px;
    height: 169px;
    left: 1046px;
    top: 2047px;
}
#three {
    position: absolute;
    height: 290px;
    width: 566px;
    left: 440px;
    top: 2321px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}
.uch {
    margin-top: 60px;
    margin-left: 48px;
    height: 34px;
    width: 61px;
    left: 488px;
    top: 2392px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 34px;
    color: #001F7E;
    mix-blend-mode: normal;
    float: left;
}
#T1 {
    margin-top: 40px;
    margin-left: 126px;
    width: 247px;
    left: 566px;
    top: 2366px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #001F7E;
    mix-blend-mode: normal;
}
#T2 {
    margin-top: 40px;
    margin-left: 56px;
    height: 90px;
    width: 279px;
    left: 496px;
    top: 2475px;
    font-family: Mulish;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #7D7987;
    mix-blend-mode: normal;
    float: left;
}
.stan {
    width: 145px;
    height: 166px;
    left: 821px;
    top: 2375px;
}
#acc {
    position: absolute;
    width: 594px;
    height: 60px;
    left: 429px;
    top: 2708px;
    background: #001F7E;
    box-shadow: 0px 4px 30px #A5BAFC;
    border-radius: 38px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 34px;
    align-items: center;
    color: #FFFFFF;
    border-color: transparent;
}
#hurry {
    position: absolute;
    height: 30px;
    width: 952px;
    left: 251px;
    top: 2793px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #052484;
    mix-blend-mode: normal;
}
#bar {
    position: absolute;
    width: 772px;
    height: 140px;
    left: 128px;
    top: 3110px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
}
#why {
    position: absolute;
    width: 555px;
    height: 65px;
    left: 128px;
    top: 3270px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
#but {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 128px;
    top: 3380px;
    background: #F53838;
    border-radius: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    border-color: transparent;
    box-shadow: 0px 15px 20px 0px rgba(245, 56, 56, 0.35);
}
#illust {
    position: absolute;
    width: 500px;
    height: 400px;
    left: 850px;
    top: 3050px;
}
#var {
    position: absolute;
    width: 1140px;
    height: 250px;
    left: 167px;
    top: 3581px;
    background: #FFFFFF;
    border-radius: 40px;
}
#true {
    position: absolute;
    width: 56px;
    height: 59px;
    left: 57px;
    top: 42px;
}
#save {
    position: absolute;
    width: 366px;
    height: 60px;
    left: 150px;
    top: 46px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}
#correct {
    position: absolute;
    width: 56px;
    height: 59px;
    left: 57px;
    top: 145px;
}
#start {
    position: absolute;
    width: 375px;
    height: 60px;
    left: 150px;
    top: 146px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}
#arr {
    position: absolute;
    width: 0px;
    height: 146px;
    left: 575px;
    top: 50px;
    border: 2px solid #EEEFF2;
    transform: rotate(0.43deg);
}
#false {
    position: absolute;
    width: 52px;
    height: 55px;
    left: 659px;
    top: 39px;
}
#heavy {
    position: absolute;
    width: 299px;
    height: 30px;
    left: 723px;
    top: 47px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}
#wrong {
    position: absolute;
    width: 52px;
    height: 55px;
    left: 659px;
    top: 142px;
}
#worry {
    position: absolute;
    width: 304px;
    height: 60px;
    left: 727px;
    top: 137px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}
#bgc {
    /*position: absolute;*/
    width: 1440px;
    height: 618px;
    left: 0px;
    top: 3926px;
    background: #FFFFFF;
    margin-top: 3800px;
}
#end {
    position: absolute;
    width: 28px;
    height: 18px;
    left: 154px;
    top: 4113px;
}
#penn {
    position: absolute;
    width: 108px;
    height: 24px;
    left: 195px;
    top: 4111.89px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #001F7E;
}
#dig {
    position: absolute;
    width: 395px;
    height: 62px;
    left: 150px;
    top: 4162px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
#face {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 130px;
    top: 4253.58px;
}
#twit {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 180px;
    top: 4253.58px;
}
#ins {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 230px;
    top: 4253.58px;
}
#vate {
    position: absolute;
    width: 129px;
    height: 30px;
    left: 152px;
    top: 4317.18px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #AFB5C0;
}
#pro {
    position: absolute;
    width: 74px;
    height: 280px;
    left: 720px;
    top: 4108.89px;
}
#pro ul li {
    list-style-type: none;
}
#pro ul li a {
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    color: #4F5665;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}
.pro {
    /*position: absolute;*/
    width: 71px;
    height: 30px;
    left: 720px;
    top: 4108.89px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}
#eng {
    position: absolute;
    width: 123px;
    height: 280px;
    left: 920px;
    top: 4108.89px;
}
#eng ul li {
    list-style-type: none;
}
#eng ul li a {
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    color: #4F5665;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}
.eng {
    /*position: absolute;*/
    width: 66px;
    height: 30px;
    left: 920px;
    top: 4108.89px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}
#earn {
    position: absolute;
    /*width: 121px;*/
    height: 120px;
    left: 1169px;
    top: 4108.89px;
}
#earn ul li {
    list-style-type: none;
}
#earn ul li a {
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    color: #4F5665;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}
.ear {
    /*position: absolute;*/
    /*width: 102px;*/
    height: 30px;
    left: 1169px;
    top: 4108.89px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}